
:root{
    --color-primary:#3B82F6;
    --color-seconday:#111827;
    --text-color:#4B5563;
    --color-secondary-light:#1F2937

    --bg-section:#F9FAFC;


     --heading-primary-font:48px;
     --heading-secondary-font:36px;
     --heading-tertiary-font:24px;
     --heading-fourth-font:2.2rem;
     --heading-fifth-font:2rem;

     
}

html{
   font-size: 62.5%;
   overflow-x: hidden; 
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HELPER FUNCTIONS */
.section-padding{
    padding:9.4rem 25.4rem ;
}
.tertiary-heading{
    font-size: var(--heading-secondary-font);
    color: var(--color-seconday);
    line-height: 3;
}

.heading-fourth{
    font-size: var(--heading-fourth-font);
    color: var(--color-seconday);

}
.heading-fifth{
font-size: var(--heading-fifth-font);
font-weight: 400;
}

.skill-icon{
    color: var(--color-primary);
    font-size: 5.6rem;
}


body{
  font-family: "Inter", sans-serif;
  font-weight:400;
  font-size: 1.6rem;
  color: var(--text-color);
  overflow-x: hidden;
  
}

.logo{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.logo:hover{
    color: rgb(42, 39, 192);
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    padding: 2.4rem 4rem;
}
.top-nav-list{
    display: flex;
    list-style: none;
    gap:3rem
}
li a{
    text-decoration: none;
    color: inherit;

}
.header{
    text-align: center;
    background-color: var(--bg-section);
    padding: 4.2rem 0 8.4rem;
    object-fit: cover;
    object-position: top;
}
.header img{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;

}
.header h1{
    font-size: var(--heading-primary-font);
    color: var(--color-seconday);
}
.header h3{
    font-size: var(--heading-tertiary-font);
    font-weight: 400;
}
.header h1, .header h3, .header p{
    margin-top: 1rem;
}
/* section.about-section h3{
    color: ;
} */
section.about-section p{
    line-height: 1.9;
}
section.skills-section{
    background-color: var(--bg-section);
}

.skills{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    row-gap: 3rem;
}
.skill{
    margin-top: .5rem;
    background-color: white;
    width: calc(90%/3);
    box-shadow: 0 1px 15px 2px #ddd;
    padding:1.4rem 3.2rem;
    border-radius:1.5rem;
    display:flex;
    flex-direction: column;
    gap: 2rem;
}

.skill-title{
    font-size: var(--heading-fourth-font);
}

progress{
    width: 100%;
    height: 2rem;
    appearance: none;
    overflow: hidden;
}
progress::-webkit-progress-bar{
    background-color: #f3f4f6;
    border-radius: 1rem;
}
progress::-webkit-progress-value{
    background-color: var(--color-primary );
    border-radius: 1rem;
}


.experience{
    display: flex;
    gap: 2.5rem;
    margin-top: 1rem;
}

.experience-description{
display: flex;
flex-direction: column;
gap: 2rem;
}
.line{
   position: relative;
    width: .3rem;
    background-color:var(--color-seconday);
}

.line::before{
    content: "";
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    position: absolute;
    top: 1rem;
    left: -50%;
    transform: translateX(-50%);
}
.date{
    color: var(--color-primary);
    font-weight: 500;
}

/* SECTION CONTACT */
.contact-section{
    background-color: var(--bg-section);
}

.contact-form{
    width: 60%;
    margin: 2rem auto 0 auto;
}

.input-box{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 2rem;
}

.input-box >*{
    width: 100%;
}
.input-box label{
    font-weight: 400;
}

.input-box input, textarea{
    border-radius: .6rem;
    resize: none;
    font-size: 2rem;
    padding: 1rem 2rem;
}
.input-box input:focus, textarea:focus{
    outline: .1rem solid var(--color-primary);
}

.input-box input{
    height: 4rem;
    border: .1rem solid rgb(152, 149, 149);
    /* border: none; */
}
textarea#message{
    height: 15rem;

}
.contact-btn{
    background-color: var(--color-primary);
    width: 100%;
    border: none;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 200;
    font-size: 2rem;
}
.contact-btn:hover{
    background-color:lawngreen;
}

.footer{
    background-color: var(--color-seconday);
    padding: 3rem;
}

.all-right{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

footer .social-icons i{
    width: 4rem;
    height: 4rem;
   font-size: 3rem;
    color: var(--bg-section);
    background-color: var(--color-seconday);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-icons i:hover{
    background-color: rgb(163, 146, 233);
}



/* RESPONSIVENESS
 */
@media only screen and (max-width:500px){
    .top-nav{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    .logo:hover{
    color: rgb(42, 39, 192);
    }
    .top-nav-list{
        gap: 1.2rem;
    }


    .header{
        margin-bottom:1rem ;
        padding: 2rem 1rem 2rem 2rem;
    }
.header img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    }
    .about-section{
        justify-content: center;
        padding: 3rem;
        align-items: center;
    }

    .skills-section{
        padding:3.5rem ;
    }
    .skills{
        display: grid;
        grid-template-columns: 1fr;

    }
    .skill{
        width: 100%;
    }
    .skill:hover{
        background-color: rgb(55, 238, 101);
    }

    .experience-section{
        padding: 3.5rem;
    }

    .contact-section{
        padding: 3.5rem;
    }

}




/* RESPONSIVENESS */

@media only screen and (min-width: 501px) and (max-width: 920px){
    
    .header h3{
        font-size:3.5rem;
    }
    .header p{
        font-size: 2.5rem;
    }

    .top-nav-list{
    font-size: 2rem;
}
.about-section{
        justify-content: center;
        padding: 4rem;
        align-items: center;
    }

     .skills-section{
        padding:4rem ;
    }

     .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .skill{
        width: 80%;
    }

    .experience-section{
        justify-content: center;
        padding: 5rem;
        align-items: center;
    }
    .experience-description p{
        font-size: 2rem;
    }

    .contact-section{
        justify-content: center;
        padding: 5rem;
        align-items: center;

    }
}